.page-item-title h1 {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.breadcrumbs-container-wrapper {
    padding-top: 5px !Important;
    border-top-width: 5px !Important;
    padding-bottom: 5px !Important;
}

.container-bg.container-fluid {
    margin-bottom: 1px !important;
}

.vc_custom_1490199141901 {
    padding-top: 20px !important;
    padding-right: 50px !important;
    padding-left: 100px !important;
}

.vc_custom_1489685315284 {
    padding-top: 30px !important;
    padding-bottom: 70px !important;
}

.vc_custom_1488988822426 {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}